<footer>
  <div class="flex flex-col w-full">
    <div class="grid h-20 card bg-base-300 rounded-box place-items-center">
      <a href="#">Copyright</a>
      <a href="#">Privacy</a>
      <a href="/staff_login">Staff Login</a>
    </div>
    <div class="divider"></div>
    <div class="grid h-20 card bg-base-300 rounded-box place-items-center">
      <p class="footer footer-center p-4 bg-base-300 text-base-content">
        Copyright © 2022 - All right reserved by The Mobile Hour
      </p>
    </div>
  </div>
</footer>
